p, h2, input::-webkit-input-placeholder, button {
    font-family: 'roboto', sans-serif;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

body {
    /*background: url(/images/background.jpg) repeat;*/
    background-color: lightblue;
}

.main {
    display: inline-block;
    box-sizing: border-box;
    width: 1000px;
    height: 700px;
    margin: 0px 20px auto 0px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    background-color: white;
}

.main h1 {
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
    height: 100px;
    width: 100%;
    font-size: 18px;
    background: #18aa8d;
    color: white;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.main h3 {
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
    height: 500px;
    width: 100%;
    font-size: 18px;
    background: white;
}

.chatbox {
    width: 1000px;
    height: 490px;
}

.online {
    display: inline-block;
    box-sizing: border-box;
    width: 300px;
    height: 700px;
    margin: 0px auto 0px 0px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    background-color: white;
}

.online h1 {
    margin:0px 0px 0px 0px;
    box-sizing: border-box;
    height: 100px;
    width: 100%;
    font-size: 18px;
    background: #18aa8d;
    color: white;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.box {
    width: 280px;
    height: 50px;
}

.container-1 {
    top: 25px;
    left: 10px;
    width: 280px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.container-1 input#search {
    width: 50px;
    height: 50px;
    background: #18aa8d;
    border: none;
    font-size: 14pt;
    float: left;
    color: #262626;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}

.container-1 input#search:hover {
    cursor: hand;
}

.container-1 input#search::-webkit-input-placeholder {
    color: white;
}

.container-1 input#search:-ms-input-placeholder {
    color: white;
}

.container-1 input#search:focus, .container-1 input#search:active {
    outline: none;
    width: 280px;
    background: #ffffff;
    cursor: text;
    text-indent: 10px;
}

.useronline {
    width: 300px;
    height: 600px;
    box-sizing: border-box;
    position: relative;
    border: none;
}

.topbox {
    display: table;
    width: 1000px;
    height: 80px;
}

.container-2 {
    display: table-cell;
    top: 10px;
    left: 10px;
    width: 90px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.container-2 img#userphoto {
    width: 80px;
    height: 80px;
    border: none;
    float: left;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.container-3 {
    display: table-cell;
    top: 10px;
    right: 30px;
    width: 90px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.container-3 button#logout {
    font-size: 14px;
    border: none;
    outline: none;
    background: white;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px;
    width: 100px;
    height: 40px;
    color: #1abc9c;
    float: right;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.container-4 {
    display: table-cell;
    top: 10px;
    right: 320px;
    width: 100px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.container-4 label#username {
    font-size: 14px;
    font-family: 'roboto', sans-serif;
    border: none;
    outline: none;
    color: white;
    float: right;
}

.container-3 button#logout:active {
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0);
}

.main h2 {
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
    height: 100px;
    width: 100%;
    font-size: 18px;
    background: #18aa8d;
    color: white;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 -2px 5px 1px rgba(0, 0, 0, 0.2);
}

.downbox {
    display: table;
    width: 1000px;
    height: 100px;
}

.container-5 {
    display: table-cell;
    left: 10px;
    width: 780px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.container-5 input#msgline {
    width: 780px;
    height: 60px;
    background: #18aa8d;
    border: none;
    font-size: 14pt;
    float: left;
    color: #262626;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}

.container-5 input#msgline:hover {
    cursor: text;
}

.container-5 input#msgline::-webkit-input-placeholder {
    color: white;
}

.container-5 input#msgline:-ms-input-placeholder {
    color: white;
}

.container-5 input#msgline:focus, .container-5 input#msgline:active {
    outline: none;
    width: 780px;
    background: #ffffff;
    cursor: text;
    text-indent: 10px;
}

.container-6 {
    display: table-cell;
    right: 30px;
    width: 160px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.container-6 button#send {
    font-size: 14px;
    border: none;
    outline: none;
    background: white;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px;
    width: 160px;
    height: 60px;
    color: #1abc9c;
    float: right;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.container-6 button#send:active {
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0);
}

/**/

.chat-container {
    width: 1000px;
    height: 480px;
}

.chat-box {
    list-style: none;
    background: white;
    margin: 0;
    height: 480px;
    overflow-y: auto;
}

.chat-box li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}

.chat-box .avatar-icon {
    width: 60px;
    position: relative;
}

.chat-box .avatar-icon img {
    display: block;
    width:50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #1469A6;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
}

.another .avatar-icon:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.me {
    justify-content: flex-end;
    align-items: flex-end;
}

.me .messages {
    order: 1;
    border-bottom-right-radius: 0;
}

.me .avatar-icon {
    order: 2;
}

.messages {
    margin: auto 5px;
    background: #f0f0f0;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
    z-index: 0;
}

.messages p {
    font-size: 0.8rem;
    margin: 0 0 0.2rem 0;
    max-width: 500px;
    word-wrap: break-word;
}

.messages time {
    font-size: 0.7rem;
    color: #ccc;
}

::-webkit-scrollbar {
    height: 14px;
    width: 10px;
    background: #eee;
    border-left: 1px solid #ddd
}

::-webkit-scrollbar-thumb {
    background: #ddd;
    border: 1px solid #cfcfcf
}

::-webkit-scrollbar-thumb:hover {
    background: #b2b2b2;
    border: 1px solid #b2b2b2
}

::-webkit-scrollbar-thumb:active {
    background: #b2b2b2;
    border: 1px solid #b2b2b2
}

@-webkit-keyframes pulse {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}
